# Core numerics & data
numpy==1.24.4
pandas==1.5.3

# Machine learning
scikit-learn==1.2.2

# Plotting
matplotlib==3.7.3
seaborn==0.12.0

# Jupyter / VS Code
ipykernel==6.25.2

# Data access
kaggle==1.5.12
kagglehub==0.0.8